.profile-question {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 25px;
}

.profile-schedule {
    position: relative;
    width: 100%;
}

.profile-schedule__box {
    display: flex;
    flex-direction: row;
}

.profile-tooltip .vkuiTooltip__container {
}

.profile-question .vkuiTooltip__container {
    inset: 0px -12px auto auto;
}
